
.rect{
    width:150px;
    height:150px;
    border-radius:50%;
    text-align: center;
    line-height: 150px;
    font-size: 100px;
    font-weight: 800;
}
.bg2{
    background: red;
    color: white;
}
.bg1{
    background: gold;
}


.inner{
   background: rgb(250, 233, 190);
}
.box{
    width:45px;
    height:45px;
    border-radius:50%; 
    text-align: center;
    font-size: 30px;
    font-weight:700;
 
   
}
.redfont{
 color: #bf1111;
}
